
* {
    margin: 0;
    font-family:  'Constantine', sans-serif;
}
body {
    color:#999999;
    background-color: #232323;
}
/* hero and headler plase*/
.header {
    display: flex;
    justify-content: space-between;
}

.mainpage {
    position: relative;
    object-fit: cover;
    height: 100vh;
    
}

.background_gif {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    width: 100%;
    height: 100%;
    
}
@media (orientation: portrait) {
    .background_gif {
        width: 100vw;
        height:auto;
    }
}



.header > * {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin: 7vh 6vw;
    padding: 8px;

}
@media (orientation: portrait) {
    .mainpage {
        
        width: 100vw;
        height:calc(100vh/3);
    }
    .header > * {
        margin: 2vh 4vw;
    }
    .logo a {
        font-size: 18px;
        padding: 3px 4px;
        font-family: 'Eurofurence';

    }
    .dropdown-content a {
        font-size: 13px;
        
    }
}
.logo {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 15px;
    background-color: #515151 ;
    font-size: 28px;
    border: 1px solid white;
    border-radius: 5px;
}
.header a:visited {
    cursor: pointer;
    text-decoration: none;
    color: #101010;
}
.header a {
    color: green;
    text-decoration: none;
    cursor: pointer;
}

/*for dropdown menu */

.dropbtn {
    position:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
    border-radius: 50%;
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding:10px;
}





/* The container <div> - needed to position the dropdown content */
.dropdown {
    height: 18px;
    width: 18px;
    right: 0%;
    top:1%;
    position: fixed;
    display: flex;

    background-color: #AAA;
    border-radius: 50%;
}
.line {
    display:block;
    padding:0;
    margin:1px;
    border-radius: 5px;
    background-color: #101010;
    height: 2px;
    width:15px;
    top:50%;
    transition: 0.2s;
}
.fir_act {
    transform: translate(0px,3px) rotate(45deg) scaleX(1.4);
}
.sec_act {
    height:0;
}
.thr_act {
    transform: translate(0px,-3px) rotate(-45deg) scaleX(1.4);
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    position: fixed;
    display: none;
    
    min-width:100px;
    right:10%;
    top: 15%;
    
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    border-radius: 10px;
    font-size: calc(1vh+1vw- 12px);
    text-align: center;
    width:20vw;
    height: 4vh;
    background-color: #AAA;
    margin:6px;
    color: #101010  ;
    padding: 12px 0px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display:block;
    
}

/* About autor part */
.About_autor {
    min-height:100vh;
}
.Conten {
    
    margin-top:30px;
    margin-bottom: 30px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 33px;
}
.info_aut {
    padding:20px 15px;
    border-radius: 0;
    flex:1 1 400px;
    background-color: #303030;
}
.left {
    width: 24vw;
    height: 600px;
    margin-left: 58px;
    overflow-x: hidden ;
    overflow-y: scroll;
    font-size: 14px;


}
.left li {
    margin-bottom:5px;
}
.left h3 {
    margin:10px 0;
}
.right {
    width: 24vw;
    height: 400px;
    overflow-x: hidden ;
    overflow-y: scroll;
    margin-right: 58px;
}
.an_gif {
    flex: 0 1 0px
}
.autor_gi {
    z-index: -1;
    position: relative;
    overflow: hidden;
    width: 50vw;
    height: auto;
}



@media (orientation: portrait) {
    .Conten {
        flex-direction: column;
        justify-content: center;
        align-items:center ;
    }
    .info_aut {
        flex: 1 1 0px;
        width: 60vw;
    }        
    
    .left , .right {
        margin: 0;
        min-height: 30vh;
    }
    .an_gif {
        height: auto;
    }
    .autor_gi {
        width: 80vw;
    }

    .form_vid *  {
        width: 80vw;
        height: calc(80vw/1.77);
    }


}
/* Form part */

.ogl {
    margin-left: 3vw;
}

.form_cont {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.form_text {
    padding:20px 15px;
    border-radius: 0px;
    background-color: #303030;
    width: 68vw;
    height: 200px;
    overflow-x: hidden ;
    overflow-y: scroll;
    margin: 30px 0;
}
.form_vid {
    margin-bottom: 40px;
}
@media (orientation: landscape) {

    .form_vid * {
        z-index: -1;
        width:50vw;
        height: calc(50vw/1.777);
    }
}    
/* Creation*/

.Creation h2 {
    margin-bottom:50px;
}

.cre_cont {
    display: flex;
    flex-direction: column;
    gap:40px;
    align-items: center;
    padding-bottom: 30px;
}

.cre_block {
    width: 90vw;
    display: flex;
    gap:15vw;
    
}
.cre_img {
    width: 40vw;
    height: auto;
}

.cre_block_text  {

    width:70vw;
    padding:10px 20px;
    margin:30px auto;
    background-color: #303030;
    border-radius: 0px ;
    height:50vh;
    overflow-x: hidden ;
    overflow-y: scroll;
}
.cre_block_text h3 {
    font-size: 20px;
}
.cre_block_text p {
    font-size: 15px;
}
.lefte {
    flex-direction: row;
}
.righte {
    flex-direction: row-reverse;
}
@media (orientation: portrait) {
    .cre_block {
        gap:30px;
    }
    .cre_img {
        width: 90vw;
        height: auto;
    }
    .cre_block_text {
        width: 60vw;

    }
    .lefte {
        flex-direction: column-reverse;
        align-items: center;
    }
    .righte {
        flex-direction: column-reverse;
        align-items: center;
    }
}
/* style for footer*/
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #303030;
}
.footer p {
    font-size: 20px;
    margin: 5vh 0 3vh 0;
}
.footer div {
    margin-bottom: 30px;
}
.cop a {
    color:black;
    text-decoration: none;
}
.cop a:hover {
    text-decoration: underline;
}
.nik {

    font-weight: 600;
    font-size: 30px;
}



/* style for scrollbar */
body::-webkit-scrollbar {
    width:8px

}

body::-webkit-scrollbar-thumb {
    background-color: #262626;
    border-radius: 10px;
}
body::-webkit-scrollbar-track {
    background-color: #404040 ;
}
.info_aut::-webkit-scrollbar {
    width: 6px;

}
.info_aut::-webkit-scrollbar-thumb {
    background-color: #262626;
    border-radius: 0 10px 10px 0;
}
.info_aut::-webkit-scrollbar-track {
    background-color: #404040;
    border-radius: 0 10px 10px 0;
}
.form_text::-webkit-scrollbar {
    width: 6px;

}
.form_text::-webkit-scrollbar-thumb {
    background-color: #262626;
    border-radius: 0 10px 10px 0;
}
.form_text::-webkit-scrollbar-track {
    background-color: #404040 ;
    border-radius: 0 10px 10px 0;
}

.cre_block_text::-webkit-scrollbar {
    width: 6px;

}
.cre_block_text::-webkit-scrollbar-thumb {
    background-color: #262626;
    border-radius: 0 10px 10px 0;
}
.cre_block_text::-webkit-scrollbar-track {
    background-color: #404040 ;
    border-radius: 0 10px 10px 0;
}


/* Creators*/

.creators_list {
    display: flex;
    justify-content: center;
    margin: 30px auto;
    
    border-radius: 10px;
}
.creators_list ul {
    position: relative;

}
.list {
    background-color: #303030;
    padding-top:10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.list .contrib::first-letter {
    font-size: 28px;
    color: #BBB
}

@media (orientation: portrait) {
    .footer p {
        margin: 10vw;

    }
}

.hid {
    display:none;
}


/* style for slideshow */

/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
  }
@media (orientation: landscape){
    .slideshow-container{ 
        width: 50vw;
    }
}
@media (orientation: portrait) {
    .slideshow-container{ 
        width: 80vw;
    }
}
  /* Hide the images by default */
  .mySlides {
    
    display: none;
  }
  .amySlides {
    display: none;
  }
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .adot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

@media (orientation: landscape){
    .downlink {
        left: 40%; 
        position: relative;
    }
    
}

.downlink:visited {
    margin:10px;
    text-decoration: none;
    color:#AAA;
}

@media (orientation: portrait){
    .downlink {
        position: relative;
        left: 10px;
    }
}